[submodule "samples"]
	path = samples
	url = https://github.com/shimat/opencvsharp_samples.git
[submodule "tesseract"]
	path = tesseract
	url = https://github.com/shimat/VS2015_Tesseract
[submodule "opencv_files_341"]
	path = opencv_files_341
	url = https://github.com/shimat/opencv_files_341
