<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dllmap os="!windows" dll="opencv_calib3d245" target="libopencv_calib3d.so" />
  <dllmap os="!windows" dll="opencv_contrib245" target="libopencv_contrib.so" />
  <dllmap os="!windows" dll="opencv_core245" target="libopencv_core.so" />
  <dllmap os="!windows" dll="opencv_features2d245" target="libopencv_features2d.so" />
  <dllmap os="!windows" dll="opencv_flann245" target="libopencv_flann.so" /> 
<!--  <dllmap dll="opencv_gpu240.dll" target="libopencv_gpu.so" /> -->
  <dllmap os="!windows" dll="opencv_highgui245" target="libopencv_highgui.so" />
  <dllmap os="!windows" dll="opencv_imgproc245" target="libopencv_imgproc.so" />
  <dllmap os="!windows" dll="opencv_legacy245" target="libopencv_legacy.so" />
<!--  <dllmap dll="opencv_ml240.dll" target="libopencv_ml.so" /> -->
  <dllmap os="!windows" dll="opencv_objdetect245" target="libopencv_objdetect.so" />
  <dllmap os="!windows" dll="opencv_video245" target="libopencv_video.so" />
</configuration>