<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dllmap os="!windows" dll="opencv_calib3d2410" target="libopencv_calib3d.so" />
  <dllmap os="!windows" dll="opencv_contrib2410" target="libopencv_contrib.so" />
  <dllmap os="!windows" dll="opencv_core2410" target="libopencv_core.so" />
  <dllmap os="!windows" dll="opencv_features2d2410" target="libopencv_features2d.so" />
  <dllmap os="!windows" dll="opencv_flann2410" target="libopencv_flann.so" /> 
  <dllmap os="!windows" dll="opencv_gpu2410" target="libopencv_gpu.so" />
  <dllmap os="!windows" dll="opencv_highgui2410" target="libopencv_highgui.so" />
  <dllmap os="!windows" dll="opencv_imgproc2410" target="libopencv_imgproc.so" />
  <dllmap os="!windows" dll="opencv_legacy2410" target="libopencv_legacy.so" />
  <dllmap os="!windows" dll="opencv_ml2410" target="libopencv_ml.so" />
  <dllmap os="!windows" dll="opencv_nonfree2410" target="libopencv_nonfree.so" />
  <dllmap os="!windows" dll="opencv_objdetect2410" target="libopencv_objdetect.so" />
  <dllmap os="!windows" dll="opencv_ocl2410" target="libopencv_ocl.so" />
  <dllmap os="!windows" dll="opencv_photo2410" target="libopencv_photo.so" />
  <dllmap os="!windows" dll="opencv_stitching2410" target="libopencv_stitching.so" />
  <dllmap os="!windows" dll="opencv_superres2410" target="libopencv_superres.so" />
  <dllmap os="!windows" dll="opencv_video2410" target="libopencv_video.so" />
  <dllmap os="!windows" dll="opencv_videostab2410" target="libopencv_videostab.so" />
</configuration>