name: Docker Test

on:
  pull_request:
    types: [synchronize, opened]

env:
  DEBIAN_FRONTEND: noninteractive
  OPENCV_VERSION: 4.13.0
  DOCKER_BUILD_CONTEXT: ./docker/ubuntu24-dotnet10-opencv4.13.0

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v6

      - uses: docker/setup-buildx-action@v3

      - name: Build with Docker
        uses: docker/build-push-action@v6
        with:
          context: ${{ env.DOCKER_BUILD_CONTEXT }}
          build-args: |
            OPENCV_VERSION=${{ env.OPENCV_VERSION }}
            OPENCVSHARP_REF=${{ github.head_ref || github.ref_name }}
          outputs: type=docker,name=shimat/ubuntu24-dotnet10-opencv4.13.0:latest
          cache-from: |
            type=gha,scope=${{ github.ref_name }}
            type=gha,scope=main
          cache-to: type=gha,mode=max,scope=${{ github.ref_name }}
