name: Linux ARM (Docker)

on:
  pull_request:
    types: [synchronize, opened]
  push:
    branches:
      - master

env:
  DEBIAN_FRONTEND: noninteractive
  OPENCV_VERSION: 4.5.2

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.2.0

      - uses: docker/setup-buildx-action@v1
        with:
          install: true

      - uses: docker/setup-qemu-action@v1

      - name: Build with Docker
        run: |
          mkdir artifacts_arm

          docker build \
            --platform=linux/arm/v7 \
            -v ./artifacts_arm:/artifacts \
            -t opencvsharp-linux-arm \
            -e DEBIAN_FRONTEND \
            -e OPENCV_VERSION \
            ./docker/ubuntu18-dotnetcore3.1-opencv4.5.1

      - uses: actions/upload-artifact@v2
        with:
          name: artifacts_linux_arm
          path: artifacts_arm
